{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}
<div class="row shows">
    {% for venue in venues %}
    {% for artist in artists %}
    {% for show in venue.shows %}
    {% if show.artist == artist.id and show.venue == venue.id %}
    <div class="col-sm-4">
        <div class="tile tile-show">
            <img src="{{ artist.image_link }}" alt="Artist Image" />
            <h4>{{ show.datetime|datetime('full') }}</h4>
            <h5><a href="/artists/{{ artist.id }}">{{ artist.name }}</a></h5>
            <p>playing at</p>
            <h5><a href="/venues/{{ venue.id }}">{{ venue.name }}</a></h5>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}